/* Web Fonts & Fonts */


@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), 
        url('../fonts/CircularStd-Book.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Book Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book Italic'), 
        url('../fonts/CircularStd-BookItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium'), 
        url('../fonts/CircularStd-Medium.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium Italic'), 
        url('../fonts/CircularStd-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), 
        url('../fonts/CircularStd-Bold.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold Italic'), 
        url('../fonts/CircularStd-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Black';
font-style: normal;
font-weight: normal;
src: local('Circular Std Black'), 
        url('../fonts/CircularStd-Black.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Black Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Black Italic'), 
        url('../fonts/CircularStd-BlackItalic.woff') format('woff');
}


/* Reset */

* {outline: none; box-sizing: border-box; -webkit-overflow-scrolling: touch}
a {text-decoration: none; cursor: pointer;}
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
body, html {height: 100%;}
input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}

/* Common Classes */
.wid100 {width:100%; float: left; }
.left {float: left;}
.right {float: right;}
.listn {list-style: none; margin: 0; padding: 0;}
.defimg {width: 100%; height: auto;}
.defimg2 {width: auto; height: auto;}
.coverimg {width: 100%; height: 100%; object-fit: cover;}
.containimg {width: 100%; height: 100%; object-fit: contain;}
.pagewrapper {width: 100%;  margin: 0 auto; max-width: 1366px; padding: 0 25px;}
.pagewrapper2 {width: 100%; margin: 0 auto; max-width: 990px;}
img {@extend .defimg}
.close {width: 35px; height: 35px; background: url(../images/iconset1.png) no-repeat right -35px; position: absolute; right: 10px; top: 10px;}

.clearfix { clear: both; display: block;}
.pad-0 { padding: 0px;}
.flex { display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: flex-start;  flex-wrap: wrap;}




/* Colors & Fonts */
$fontmain: 'Circular Std Book', Arial, sans-serif;
$fonthead: 'Circular Std Black', Arial, sans-serif;
$fontmed: 'Circular Std Medium', Arial, sans-serif;
$fontcat: 'montserratsemibold', Arial, sans-serif;

/* Colors */
$black : #000;
$white: #fff;
$yellowgreen: #77bb53;
$orange: #f68000;
$lightgreen: #d0cc3a;
$transorange: rgba(228,136,16,0.7);
$translightgreen: rgba(194,205,35,0.7);
$transblack: rgba(0,0,0,0.6);
$textgray: #353535;
$darkgray: #2d2d2d;
$violet : #222f46;
$green :  #429e47;
$lightorange : #f0bb02;


.cs-container { padding: 0px 60px; width: 100%; box-sizing: border-box; }
.container-cs {     max-width: 76%; width: 100%; margin: 0 auto; box-sizing: border-box;}

.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: $black;}

.nav-custom { position: absolute; z-index: 2; width: 100%; background: transparent; border: 0px; min-height: 150px;

    .navbar-right { margin-top: 55px;
        li { padding: 0px 18px;
            a { font-family: $fontmain; font-size: 18px; color: $white; text-transform: capitalize; padding: 15px 10px 12px;}

            a:hover, a:focus { color: $white;}
        }

        li.active, li.active:hover { 
            a { border-bottom: 3px solid $white; background: transparent;  color: $white}
        }
        li:hover { 
            a { border-bottom: 3px solid $white; background: transparent; color: $white}
        }

        li.bg-orange {
            a { background: $orange;}
        }

        li.acc { display: none;}
    }
}

.navbar-collapse { padding: 0px 0px;}


.top-list {    max-width: 350px; width: 100%; position: absolute; right: 63px; top: 15px; z-index: 3;
    li { display: inline-block; padding-right: 15px; width: 49%;
        p { color: $white; font-family: $fontmain; font-size: 16px; text-transform: capitalize; display: inline-block; margin-right: 15px;}
        a { display: inline-block;
            img {
                position: relative;
            }

            i { color: $white; font-size: 20px; position: relative;
                > div.qntity { position: absolute; top: -8px; background: $orange; border-radius: 50%; width: 17px; height: 17px; text-align: center; padding-top: 4px; left: 8px;
                    span { font-size: 10px; font-family: $fontmain; display: block;}

                }
            }


        }
    }

    li:last-child { padding-right: 0px;
        select { width: 100%; background-color: transparent; background: url(../images/globe.png); background-repeat: no-repeat; padding-left: 30px; color: $white; height: 30px; background-position: center left; font-family: $fontmain; font-size: 16px;}

        select:focus { option {color: $black; }}
    }
}

.overlay {     position: absolute; background: rgba(0, 0, 0, 0.2); height: 100%; width: 100%; z-index: 1; top: 0;}
.nav-log { position: relative; z-index: 6;}

.btn-gray { padding: 10px 25px; background: #515151; color: $white; font-family: $fontmain; font-size: 16px; text-transform: uppercase; border-radius: 10px;transition: 0.3s ease-in-out;}
.btn-orange {padding: 10px 25px; background: #f68000; color: $white; font-family: $fontmain; font-size: 16px; text-transform: uppercase; border-radius: 10px; transition: 0.3s ease-in-out;}

.btn-green { padding: 10px 25px; background: #429e47; color: $white; font-family: $fontmain; font-size: 16px; text-transform: uppercase; border-radius: 10px;  transition: 0.3s ease-in-out;}

.btn-green:hover, .btn-orange:hover, .btn-gray:hover, .btn-green:focus, .btn-orange:focus, .btn-gray:focus { color: $white; transition: 0.3s ease-in-out; }

.home {
    .sec-1 {
        .home-carousel { 
            .item {
                > aside { height: 750px; 
                    img { height: 100%; object-fit: cover;}
                }

                .text-hldr { position: absolute; top: 200px; left: 90px; max-width: 700px; width: 100%; z-index: 2;
                    h3 {  font-size: 72px; color: $white; font-family: $fonthead;}
                    p { font-size: 30px; color: $white; font-family: $fontmain;
                        span.light-orange { color: $lightorange; font-family: $fonthead;}
                    }
                    


                    > ul { margin-top: 30px;
                        li { display: inline-block;
                            a { padding: 15px 40px; background: $orange; color: $white; font-family: $fonthead; font-size: 25px; text-decoration: none;}
                        }
                        li:first-child { padding-right: 15px;}
                    }
                }

                .right_car { max-width: 598px; width: 100%;  position: absolute; right: 0; bottom: 0; z-index: 2;
                    aside { height: 600px;}
                }
            }


            .owl-nav { display: none;}

            .owl-dots { display: block; position: absolute; right: 0; top: 50%; 
                .owl-dot { display: block; margin-bottom: 15px;
                    span { height: 20px; width: 20px; background: $white; margin: 5px 10px; display: block;}
                }

                .owl-dot:last-of-type { margin-bottom: 0px;}

                .owl-dot.active {
                    span { background: $orange;}
                }
            }
        } 
    }

    .sec-2 { position: relative; background: #f0f0f0; padding: 120px 15px 45px;

        .pckage_wrap { max-width: 76%; width: 100%; margin: 0 auto; box-sizing: border-box; padding: 0px 15px 0px 50px; position: relative; z-index: 2;

            > aside { height: 595px; max-width: 50%; width: 100%; 
                > img { height: 100%; object-fit: cover;}
            }

            >article { position: absolute; top: 37px; left: 47%; max-width: 100%;  width: 50%;
                > h4 { font-family: $fonthead; font-size: 36px; color: #c3c3c3; text-transform: uppercase; padding-left: 35px; margin-bottom: -9px;}

                > div {
                    > ul { padding: 25px 35px; background: $white;
                        li{
                            h3 { font-family: $fontmain; color: $black; font-size: 40px; margin-bottom: 20px; padding-bottom: 15px; position: relative;}

                            h3::after { content: ''; position: absolute; bottom: 0px; width: 148px; height: 6px; background: #429e47; left: 0;}

                            h5 { font-family: $fontmed; font-size: 25px; color: $black; text-transform: capitalize; margin-bottom: 15px;}

                            > h4 { font-family: $fonthead; font-size: 35px; color: $black; font-style: italic;
                                span { display: block;font-family: $fontmain; font-size: 25px; font-style: normal}
                            }
                        }

                        li:last-child {
                            h6 { font-family: $fontmain; color: $black; font-size: 20px; margin-top: 50px; display: inline-block; margin-right: 15px;}
                            input[type="number"] { width: 138px; height: 40px; border: 2px solid #e1e1e1; display: inline-block; padding-left: 15px;}
                        }
                    }

                    >aside {
                        > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;
                            > li { width: 50%; text-align: center; padding: 15px 0px; 
                                a { font-family: $fontmain; font-size: 18px; text-transform: uppercase; color: $white; text-decoration: none;}
                            }

                            > li:first-child { background: #515151;}

                            > li:nth-child(2) { background: $orange;}
                        }
                    }
                }
                
            }

        }

        .pckage_wrap::after { position: absolute; content: ''; background: url(../images/featured.png) top left; height: 302px; width: 50px; background-repeat: no-repeat; left: 15px; top: 0; }


        .view_all { margin-top: 30px; text-align: center;
            a { font-family: $fontmain; font-size: 20px; color: $violet; text-decoration: none; padding-bottom: 3px; border-bottom: 1px solid $violet; text-transform: uppercase; text-align: center;}
        }


    }
    .sec-2::after { top: 0; bottom: 0; left: 0; right: 70%; background-color: $white; position: absolute; content:''; background-image: url(../images/map.png); background-repeat: no-repeat; background-position: left bottom;}


    .sec-3 { background-image: url(../images/testi.jpg); min-height: 640px; background-size: cover; padding:  65px 15px 0px; 
        
        .testi-carou { max-width: 62.37%; width: 100%; margin: 0 auto; padding: 0px 15px; padding-bottom: 70px;
            .text-hldr { text-align: center;
                > h4 { font-size: 24px; font-family: $fontmain; color: $white; text-transform: uppercase; margin-bottom: 30px;}

                > h3 { font-family: $fonthead; color: $white; font-size: 44px; text-transform: capitalize; margin-bottom: 55px;}

                > h5 { font-family: $fontmain; color: $white; font-size: 32px; margin-bottom: 30px;}

                > p { font-family: $fontmain; font-size: 28px; color: $white; margin-bottom: 50px;}


                > .img-hldr {     display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap;  flex-wrap: wrap; align-items: center; justify-content: center;
                    > aside { max-width: 127px; width: 100%; height: 127px; border-radius: 50%; overflow: hidden; display: inline-block;  vertical-align: text-top;
                        img { height: 100%;}
                    }
                
                    > article {  display: inline-block; margin-left: 25px; vertical-align: text-top; text-align: left;
                        > h4 { font-family: $fonthead; font-size: 32px; color: $white; margin-bottom: 10px;}

                        >h5 { font-family: $fontmain; font-size: 30px; color: $white;}
                    }
                }
            }
        

            .owl-nav { display: none;}

            .owl-dots { position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 5px;
                .owl-dot { 
                    span { height: 20px; width: 20px; background: $white; margin: 5px 10px;}
                }

                .owl-dot.active {
                    span { background: $orange;}
                }
            }
        }
    }
    
}






.book-trip {     max-width: 76%; width: 100%; left: 50%; position: absolute; transform: translate(-50%, 0); /* margin: 0 auto; */ margin-top: -112px; z-index: 5;
    > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around; flex-wrap: wrap; box-shadow: 0px -2px 20px #ccc; background: #fff;
        > li { }

        > li:first-child { width: 15.72%; background: $green;
            > div { padding: 30px; text-align: center; @extend .flex; height: 100%; align-items: center;
                h4 { font-family: $fonthead; font-size: 30px; color: $white; text-transform: uppercase;}
            }
        }

        > li:nth-child(2) { width: 65.38%; background: $white;
            > div { padding: 15px 15px;
                > ul { @extend .flex;
                    > li { width: 50%;  position: relative; padding-left: 0px;
                        select { width: 100%;  border: 1px solid #ccc; height: 38px; padding-left: 15px; margin-bottom: 15px; background: url(../images/arrowdown.png) no-repeat 95% center;}
                        input[type="date"] { width: 100%; border: 1px solid #ccc; height: 38px; padding-left: 15px;}
                    
                        h5 {color: #222f46; font-family: $fontmain; font-weight: bold; text-transform: uppercase; }
                    }

                    > li:nth-child(odd){ padding-right: 15px;}
                    > li:nth-child(even){ padding-left: 15px;}
                }
            }
        }

        > li:last-child { width: 18.88%; background: $orange; text-align: center;
            > div { padding: 33px; height: 100%; align-items: center; @extend .flex;
                h5 { color: $white; font-family: $fonthead; font-size: 25px;
                    i { margin-left: 15px;}
                }
            }
        }
    }


    > div {
        > ul {     display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-wrap: wrap;
            li:first-child { width: 15.72%; text-align: center; background: $green; padding: 16px; text-align: center;
                p { font-size: 18px; color: $white; font-family: $fontmain;}
            }

            li:nth-child(2){ padding: 16px 35px; background: #ebebeb;
                p { font-family: $fontmain; font-size: 18px; color: #222f46; }
            }
        }
    }
}






.packages {

    .sec-1 {  height: 340px; background-image: url(../images/package-page.jpg); background-size: cover; 
        .hero { position: absolute; left: 50%;  z-index:  2; transform: translate(-50%, 0); top: 190px;
            h3 { font-family: $fonthead; font-size: 60px; color: $white;  }
        }
    }

    .book-trip { margin-top: -56px;}


    .sec-2 { padding: 175px 15px 65px 15px; background: #f0f0f0;


        .pckage_wrap { padding-left: 0px;}
        .pckage_wrap::after { display: none; }
    }

    .sec-2::after { top: 0; bottom: 0; left: 0; right: 70%; background-color: $white; position: absolute; content:'';}

    .sec-3 { padding: 120px 15px; background: #f9f9f9;

        .pckage_wrap { padding-left: 0px; margin-bottom: 25px;}
        .pckage_wrap::after { display: none; }


    }
}




.packages-selected {
    .sec-1 {  height: 340px; background-image: url(../images/package-page.jpg); background-size: cover; 
        .hero { position: absolute; left: 50%;  z-index:  2; transform: translate(-50%, 0); top: 166px; text-align: center;
            h3 { font-family: $fonthead; font-size: 60px; color: $white;  }

            p { font-family: $fontmed; font-size: 30px; color: $white; text-align: center}
        }
    }

    .book-trip { margin-top: -56px;}

    .sec-2 { padding: 175px 0px  115px ; background: #f0f0f0;

        .itemhldr {     max-width: 76%; width: 100%; margin: 0 auto; box-sizing: border-box;

            > article.dvider {
                >aside {     width: 50%; position: absolute; top: 0; bottom: 0;  z-index: 2;
                    img { height: 100%; object-fit: cover;}
                }

                > article { padding-left: 50%; min-height: 500px; background: $white;
                    > div { padding: 35px 30px;
                        > p { font-family: $fontmain; color: $violet; font-size: 20px; line-height: 30px; margin-bottom: 35px;}


                        > h5 { font-family: $fonthead; color: $violet; font-size: 30px; margin-bottom: 20px;}

                        > ul {
                            > li { margin-bottom: 15px; padding-left: 35px; position: relative;
                                > p { font-family: $fontmain; color: $violet; font-size: 20px; line-height: 30px;  }
                            }

                            > li::after {
                                content: ''; position: absolute; background: $violet; width: 9px; height: 9px; border-radius: 50%; left: 10px; top: 8px;
                            }
                        }
                    }
                }
            }

            > div.btm_sec { position: relative; z-index: 2;
                > ul {     display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap; padding-bottom: 75px;
                    
                    > li { padding: 20px 35px;}

                    > li:first-child { width: 45%; background: #429e47;
                        h4 { font-family: $fontmed; color: $white; font-size: 40px;
                            span { font-family: $fontmain; color: $white; font-size: 25px; display: block;}
                        }
                    }
                    > li:nth-child(2) { width: 55%; background: #358639;
                        h5 { font-family: $fontmain; color: $white; font-size: 25px; display: inline-block; margin-right: 15px; margin-top: 18px;}
                        input[type="number"] {  width: 139px; border: 2px solid #e1e1e1; height: 40px; display: inline-block; padding-left: 15px;}

                        span { font-family: "Circular Std Medium", Arial, sans-serif; color: #fff; font-size: 40px; float: right;}
                    }

                    > li:nth-child(3){ width: 55%; padding: 0px; position: absolute; right: 0; bottom: 3px;
                        > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-between; flex-wrap: wrap; 
                            > li { width: 49.7%; text-align: center; padding: 20px 15px;
                                a { font-size: 20px; color: $white; font-family: $fontmain; text-transform: uppercase; text-decoration: none;}
                            }

                            > li:first-child { background: #515151;}

                            > li:nth-child(2) { background: #f68000;}

                        }
                    }
                }
            }
        }
        
    }

    .sec-2::after {     top: 0; bottom: 0; left: 0; right: 70%; background-color: #fff; position: absolute; content: ''; }



    .sec-3 { padding: 54px 0px 50px; background: #f9f9f9;
        .item-hldr { max-width: 76%; width: 100%; margin: 0 auto; box-sizing: border-box;
            h3 { text-align: center; font-family: $fonthead; color: $white; font-size: 40px; color: $violet; margin-bottom: 40px;}


            .slct-pckge {
                .item {
                    aside { height: 225px; 
                        img { width: 100%; height: 100%; object-fit: cover;}
                    }

                    article { text-align: center;
                        h4 { font-family: $fontmain; color: $violet; font-size: 24px; margin-top: 15px;}
                    }
                }


                .owl-nav {  position: absolute; top: 30%;width: 100%;
                    .owl-prev {    background-color: transparent; text-indent: -9999px; overflow: hidden; background-image: url(../images/arrow-left.png); height: 62px; width: 36px; margin: 0px; padding: 0px; position: absolute; left: -50px;}
                    .owl-next {    background-color: transparent; text-indent: -9999px; overflow: hidden; background-image: url(../images/arrow-right.png); height: 62px; width: 36px; margin: 0px; padding: 0px; position: absolute; right: -50px;}
                }

                .owl-dots { display: none;}
            }
        }




    }

    .sec-3::after { height: 4px; left: 0; right: 0; background: $white; position: absolute; top: 0; content: '';}
}



.vans { 
    .sec-1 {  height: 340px; background-image: url(../images/package-page.jpg); background-size: cover; 
        .hero { position: absolute; left: 50%;  z-index:  2; transform: translate(-50%, 0); top: 166px; text-align: center;
            h3 { font-family: $fonthead; font-size: 60px; color: $white;  }

            p { font-family: $fontmed; font-size: 30px; color: $white; text-align: center}
        }
    }

    .sec-2 { padding: 190px 0px 100px; background: #f0f0f0;
        .itm-hldr { max-width: 91.21%; width: 100%; margin: 0 auto; box-sizing: border-box; padding-left: 11.16%;
         position: relative;
            div.divider { margin-bottom: 50px;     padding-bottom: 10px; border-bottom: 2px solid #e0dfdf; z-index: 2;}
        }

        .equip-dnone { display: none; margin: 0 auto; max-width: 80%; width: 100%; margin-bottom: 15px;
           /*  h5 { position: relative; font-family: $fontmain; color: $black; font-size: 25px; text-align: center; text-transform: uppercase; margin-bottom: 15px;} */
           /* > ul {     display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around; flex-wrap: wrap;
                > li { width: 33%; 
                    aside { max-width: 40px; width: 100%; margin: 0 auto;}
                }
           } */
        }

        .itm-hldr::after { position: absolute; content: ''; background-image: url(../images/equip.png); background-color: transparent; top: 0; bottom: 0; width: 135px; z-index: 3; left: 0; background-repeat: no-repeat;}

        .cars { padding-left: 37px; position: relative; padding-top: 40px;
            .item { 
                aside { max-width: 71.82%; width: 100%; position: relative; height: 650px;
                    img { height: 100%; object-fit: cover;}
                }

                article { padding: 0px 20px; margin-top: 25px;
                    h4 { font-size: 24px; color: $black; font-family: $fontmain;}
                }
            }

            .owl-dots { display: none;}

            .owl-nav {      position: absolute; right: 65px; top: 35%; transform: translate(-50%, -50%); z-index: 3;
                    .owl-prev {    background-color: transparent; text-indent: -9999px; overflow: hidden; background-image: url(../images/arrow-prev.png); height: 46px; width: 60px; margin: 0px; padding: 0px;     display: block; margin-bottom: 25px;}
                    .owl-next {    background-color: transparent; text-indent: -9999px; overflow: hidden; background-image: url(../images/arrow-next.png); height: 46px; width: 60px; margin: 0px; padding: 0px;  display: block;}
            }

            .owl-stage-outer { position: relative; z-index: 2;}
        }

        .cars::after { position: absolute; top: 0; bottom: 100px;  left: 0; background: #3f444f; content: ''; width: 45%; }

        
        .right_item { float: right; min-width: 42.77%;
            .details { background: $white; position: relative; z-index: 3; padding: 30px;  /* float: right; */ margin-top: -150px; box-shadow: 0px -3px 15px #d8d8d8;
           
                h4 { font-family: $fonthead; color: $black;  font-size: 35px;}
                p { font-family: $fontmain; font-size: 30px; color: #000; line-height: 30px;}

                > ul { position: relative; padding-top: 20px; margin-top: 20px; 
                    > li { 
                        h6 { font-size: 20px; color: $black; font-family: $fontmain; margin-bottom: 10px;}
                        select { max-width: 290px; width: 100%; border: 2px solid #e1e1e1; height: 40px; padding-left: 15px; margin-bottom: 25px; background-image: url(../images/select-gray.png); background-repeat: no-repeat; background-position: 95% center; background-size: 15px; font-size: 18px;}
                    
                        input[type="radio"] { -webkit-appearance: radio; width: 27px; height: 27px; margin-right: 10px;}
                        label { font-size: 20px; font-family: $fontmain; font-weight: normal;}

                        > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-between; flex-wrap: wrap; margin-bottom: 25px;
                            li { width: 50%;
                                [type="radio"]:checked,
                                [type="radio"]:not(:checked) {
                                    position: absolute;
                                    left: -9999px;
                                }
                                [type="radio"]:checked + label,
                                [type="radio"]:not(:checked) + label
                                {
                                    position: relative;
                                    padding-left: 45px;
                                    cursor: pointer;
                                }
                                [type="radio"]:checked + label:before,
                                [type="radio"]:not(:checked) + label:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid #ddd;
                                    border-radius: 100%;
                                    background: #fff;
                                }
                                [type="radio"]:checked + label:after,
                                [type="radio"]:not(:checked) + label:after {
                                    content: '';
                                    width: 15px;
                                    height: 15px;
                                    background: #429e47;
                                    position: absolute;
                                    top: 5px;
                                    left: 5px;
                                    border-radius: 100%;
                                    -webkit-transition: all 0.2s ease;
                                    transition: all 0.2s ease;
                                }
                                [type="radio"]:not(:checked) + label:after {
                                    opacity: 0;
                                    -webkit-transform: scale(0);
                                    transform: scale(0);
                                }
                                [type="radio"]:checked + label:after {
                                    opacity: 1;
                                    -webkit-transform: scale(1);
                                    transform: scale(1);
                                }
                            }
                        }


                    }

                    > li:last-child { position: relative;
                        h5 { display: inline-block; font-size: 20px; color: $black; margin-right: 15px;}
                        input[type="number"] { display: inline-block; max-width: 137px; width: 100%; border: 2px solid #e1e1e1; padding-left: 15px; height: 40px;}

                        span { float: right; font-family: $fonthead; font-size: 36px; font-style: italic;}
                    }

                }

                > ul::after { position: absolute; content: ''; background: #429e47; width: 148px; height: 6px; top: -6px;}
            
            }   

            .btm_link { z-index: 2;
                ul {  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-wrap: wrap;
                    li {   width: 50%;  text-align: center; padding: 20px 15px; 
                        a { font-family: $fontmain; color: $white; font-size: 20px; text-transform: uppercase; text-decoration: none; outline: none; cursor: pointer;}
                    }
                    li:first-child { background: #515151;}
                    li:nth-child(2){ background: $orange;}
                }
            }
        }

        
    }

    .sec-2::after { top: 0; bottom: 0; left: 0; right: 70%; background-color: $white; position: absolute; content:'';}
}




#legend { margin-bottom: 20px;
    h2 {  font-family: $fonthead; font-size: 30px; text-transform: uppercase; margin-bottom: 5px;}
    p { font-family: $fontmain; font-size: 16px; margin-bottom: 10px;}
    h6 { position: relative; }
    ul { @extend .flex; justify-content: center;
        li { padding-right: 25px;
            h6 { font-family: $fontmain; font-size: 16px;  padding-left: 20px; position: relative; display: block;}
            h6::after { position: absolute; left: 0; top: 50%; transform: translate(0, -50%); height: 15px; width: 15px;}  
            .selectedincart::after {    content: ' ';  background: #51ffb6;   border-radius: 50%; box-shadow: 0 0 1px #333;}
        }

        li:last-child { padding-right: 0px;}
    }
}

#legend + a { margin-bottom: 15px; display: block;
    i { margin-right: 10px;}
}





footer {  background: #ececec; padding-top: 4px;
    .footer_logo {  max-width: 160px; width: 100%; left: 0px; top: 15px; position: absolute; left: 60px; height: 124px;
        img { height: 100%; object-fit: contain;}
    }

    .footer_list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap; padding: 30px 0px; position: relative; padding-left: 190px;
        > li { padding: 0px 19px; display: inline-block; 

        }

        > li:first-child { width: 43%;
            h5 { font-family: $fontmain; color: $violet; font-size: 16px; margin-bottom: 15px; font-weight: bold;}
            p { font-family: $fontmain; color: $violet; font-size: 14px;}
        }

        > li:nth-child(2) {  width: 43%;
            h5 { font-family: $fontmain; color: $violet; font-size: 16px; margin-bottom: 15px; font-weight: bold;}
            > ul {
                > li {
                    i { width: 24px;}
                    
                    p { font-family: $fontmain; color: $violet; font-size: 14px;}
                }
                > li:nth-child(2), > li:nth-child(3){  display: inline-block;}
                > li:nth-child(3) { padding-left: 40px;}
            }
            
        }

        > li:nth-child(3) {  width: 13%;

            a { outline: none; display: block; margin-bottom: 10px;
                img { height: 48px; width: 48px; }
            }
        }

    }


    div.btm-list { background: #3f444f; padding: 12px 15px; text-align: center;
        ul {
            li { display: inline-block;  
                a { color: $white; font-size: 14px; font-family: $fontmain; position: relative; padding-right: 33px; text-decoration: none;}
                a::after { content: ''; position: absolute; background: $white; top: 0; bottom: 0; width: 1px; right: 16px;}
            }

            li:last-child {
                a{ padding-right: 0px;}
                a::after { display: none;}
            }
            
        }
    }

}


footer::after { position: absolute; content: ''; left: 0; right: 0; height: 3px; background: $white; top: 0;}


.pckage_wrap { max-width: 76%; width: 100%; margin: 0 auto; box-sizing: border-box; padding: 0px 15px 0px 50px; position: relative; z-index: 2;

    div.clearfix {
        aside.right { float: right;}
        article.left {  right: 47%;}
        article.right {  left: 47%;}
    
        > aside { height: 595px; max-width: 50%; width: 100%; z-index: 2;
            > img { height: 100%; object-fit: cover;}
        }

   
        > article { position: absolute; top: 37px;  max-width: 100%;  width: 50%; z-index: 3;
        > h4 { font-family: $fonthead; font-size: 36px; color: #c3c3c3; text-transform: uppercase; padding-left: 35px; margin-bottom: -9px;}

        > div {
            > ul { padding: 25px 35px; background: $white;
                li{
                    h3 { font-family: $fontmain; color: $black; font-size: 40px; margin-bottom: 20px; padding-bottom: 15px; position: relative;}

                    h3::after { content: ''; position: absolute; bottom: 0px; width: 148px; height: 6px; background: #429e47; left: 0;}

                    h5 { font-family: $fontmed; font-size: 25px; color: $black; text-transform: capitalize; margin-bottom: 15px;}

                    > h4 { font-family: $fonthead; font-size: 35px; color: $black; font-style: italic;
                        span { display: block;font-family: $fontmain; font-size: 25px; font-style: normal}
                    }
                }

                li:last-child {
                            h6 { font-family: $fontmain; color: $black; font-size: 20px; margin-top: 50px; display: inline-block; margin-right: 15px;}
                            input[type="number"] { width: 138px; height: 40px; border: 2px solid #e1e1e1; display: inline-block; padding-left: 15px;}
                }
            }

            >aside {
                > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;
                    > li { width: 50%; text-align: center; padding: 15px 0px; 
                        a { font-family: $fontmain; font-size: 18px; text-transform: uppercase; color: $white; text-decoration: none;}
                    }

                    > li:first-child { background: #515151;}

                    > li:nth-child(2) { background: $orange;}
                }
            }
        }
                    
        }

    }
    


    

}

.pckage_wrap::after { position: absolute; content: ''; background: url(../images/featured.png) top left; height: 302px; width: 50px; background-repeat: no-repeat; left: 15px; top: 0; }


.view_all { margin-top: 30px; text-align: center;
    a { font-family: $fontmain; font-size: 20px; color: $violet; text-decoration: none; padding-bottom: 3px; border-bottom: 1px solid $violet; text-transform: uppercase; text-align: center;}
}






.prcing_table-popup { max-width: 75%; width: 100%; background: $white; margin: 0 auto; display: block; padding: 40px 0px;

    .text_center { text-align: center;}

    .item {
        h4 { font-size: 48px; color: $violet; font-family: $fonthead; text-align: center; margin-bottom: 35px;}

        > ul {
            li { display: block; padding: 15px 15px; border-bottom: 1px solid #b5b5b5;
                > div.parent { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around; flex-wrap: wrap;
                    div.children { width: 33.3%;  text-align: center; padding: 0px 15px;
                        h5 { font-family: $fontmain; color: $violet; font-size: 30px; font-weight: bold;}
                        p { font-family: $fontmain; color: $violet; font-size: 30px;}
                        span { display: none; font-family: $fontmain; font-size: 20px; color: $violet;}
                    }

                    div.children:first-child { text-align: left; }
                }
            }

            li:first-child { border-bottom: 3px solid $violet;}

            

        }
    }

}





.check {
    .sec-1 {     height: 340px; background-image: url(../images/package-page.jpg); background-size: cover;}

    .sec-2 { padding: 40px 15px;
        .item {     max-width: 650px; margin: 0 auto; width: 100%; box-shadow: 0px 0px 20px #d5d5d5; padding: 25px 15px;     border-radius: 15px; margin-bottom: 45px;
            .hldr {
                .parent  { 

                    .children { 
                        label { font-family: $fontmain; font-size: 18px; color: $black; text-transform: uppercase; font-weight: 600; line-height: 18px;}
                    
                        p { font-family: $fontmain; font-size: 18px; color: $black; line-height: 18px;}
                    }

                }

                ul { display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: flex-start;  flex-wrap: wrap; 
                    li { padding: 10px 15px; border-bottom: 1px solid #d5d5d5; position: relative; width: 50%; }

                    li:nth-child(3), li:nth-child(4) { border-bottom: 0px;}

                    /* li:nth-child(odd) { padding-right: 15px;}
                    li:nth-child(even) { padding-left: 15px;} */
                    
                }

                ul::after { position: absolute; content: ''; background: #d5d5d5; top: 0; bottom: 0; width: 1px; left: 50%; transform: translate(-50%, 0);}

            }
        }


        .table-hldr { max-width: 80%;     width: 100%; margin: 0 auto;
            table { border: 2px solid #d5d5d5;
                thead { 
                    tr { 
                        th { padding: 10px 15px; border-right: 1px solid #d5d5d5; font-family: $fontmain; font-size: 18px; color: #fff; letter-spacing: 1px; font-weight: bold; background: #429e47;}
                        th:last-child { border-right: 0px;}

                    }
                }

                tbody {
                    tr {
                        td { padding: 10px 15px; border-right: 1px solid #d5d5d5; font-family: $fontmain; font-size: 18px; color: #000;}
                        td:last-child { border-right: 0px; }
                    }

                    tr:nth-child(even){background: #eaeaea;}
                }
            }
        }
    }


    .pckage_wrap { padding-left: 15px;}
    .pckage_wrap::after { display: none;}
}


.check.about-us {

    .sec-2 {
        min-height: 39.7vh;
    }
}





.check.departure-trip { 
    .sec-2 {
        .table-hldr { padding: 15px 0px; border-top: 1px solid #d5d5d5;
            h1 { font-family: $fonthead; font-size: 30px; margin-bottom: 20px;}
        }

        .btn-holder { text-align: center; max-width: 80%; width: 100%; margin: 0 auto;
            button { margin-right: 15px; }
            button:last-of-type { margin-right: 0px;}
        }
    }
}

.book {
    .sec-1 {     height: 340px; background-image: url(../images/package-page.jpg); background-size: cover;}


    .sec-2 {  padding: 40px 50px; min-height: 700px;
        .parent.mainlist {min-height: 540px;}
        .parent { display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: flex-start;  flex-wrap: wrap; 
            > li:first-child { width: 250px;
                .item { background: #429e47; padding: 25px 15px; height: 100%;
                    label { color: $white; font-family: $fontmain; font-size: 18px; letter-spacing: 1px; margin-bottom: 5px;}
                    p { font-family: $fontmain; font-size: 18px; color: $white;}

                    div { margin-bottom: 15px;}
                    div:last-of-type { margin-bottom: 0px;}
                }
            }

            >li:nth-child(2) {     width: calc(100% - 250px); position: relative; padding-left: 400px;}
            

            .outline { position: absolute; left: -330px;}

            .card-holder { width: 100%; float: left;     border: 1px solid #d5d5d5;
                h4 { font-family: $fontmain; font-size: 25px; color: #000; margin-bottom: 15px;}
                label { font-family: $fontmain; font-size: 16px;}
            }

            .btn-hldr { width: 100%; float: left; padding: 0px 15px; text-align: right; margin-top: 15px;
                button { background: $green; color: $white; font-family: $fontmain; font-size: 18px; text-transform: uppercase; letter-spacing: 1px; padding: 10px  35px;}
            }

        }
    }

}



.panel-cs { max-width: 650px; width: 100%;

}





.cart { 

    .sec-1 {  height: 340px; background-image: url(../images/package-page.jpg); background-size: cover; 
        .hero { position: absolute; left: 50%;  z-index:  2; transform: translate(-50%, 0); top: 166px; text-align: center;
            h3 { font-family: $fonthead; font-size: 60px; color: $white;  }

            p { font-family: $fontmed; font-size: 30px; color: $white; text-align: center}
        }
    }

    .sec-2 { padding: 40px 0px; background: #f0f0f0;
        .main-hldr { @extend .flex;
            .booking-part { width: calc(100% - 395px); padding-right: 20px;
                .booking-card { background: $white; margin-bottom: 35px;

                    .top { border-bottom: 3px solid #429e47;
                        .left { position: relative; padding: 15px 17px 15px 50px; background: #429e47; 
                            .input-hldr {  position: absolute; padding: 11px 10px; background: #2d8332; top: 0; left: 0; 
                                input[type="checkbox"] { width: 21px; height: 21px; opacity: 0; position: relative; z-index: 3; margin: 0px;}
                                .uncheck { width: 21px; height: 21px; position: absolute; top: 11px; background: url(../images/uncheck.jpg);}

                                input[type="checkbox"]:checked + .uncheck { background: url(../images/check.jpg);}
                            }
                            h4 { font-family: $fonthead; color: $white; font-size: 18px;}
                        }

                        .right {
                            .icon-hldr {     padding: 9px 15px;
                                a { font-size: 18px; color: $white; margin-right: 9px; }
                                a:last-of-type { margin-right: 0px;}
                                i.fa-pencil { background: #515151;padding: 6px 7px;  border-radius: 5px; }
                                i.fa-close { background: #f68000;padding: 6px 7px; border-radius: 5px; }
                            }
                            
                        }

                    }

                    .body { padding: 15px 0px 0px;
                        ul {
                            > li { margin-bottom: 10px; 
                                .parent { @extend .flex;
                                    .children { padding: 0px 20px;
                                        p { font-size: 18px; color: $black; word-break: break-word;}
                                    }
                                    .children:first-of-type { width: 35%;
                                        p { font-family: $fontmain; }
                                    }

                                    .children:last-of-type { width: 65%; padding-left: 40px;
                                        p { font-family: $fontmed; }
                                    }
                                }
                            }

                            > li:last-child { margin-bottom: 0px; padding: 15px 0px; background: #515151;
                                .parent {
                                    .children { 
                                        p { color: $white;}
                                    }
                                }
                            }

                        }

                    }

                    .body::after { position: absolute; left: 35%; content: ''; top: 0; bottom: 0; width: 1px; background: #f0f0f0;}

                }

                .booking-card:last-of-type { margin-bottom: 0px;}
            }



            .checkout { padding: 10px 0px; background: $white; width: 395px;
                    
                .white-bg {     position: absolute; top: -40px; background: #fff; width: 100%; bottom: -40px;}

                h4 { font-family: $fonthead; color: #515151;  text-transform: uppercase; font-size: 36px; margin-bottom: 5px; padding: 0px 20px;}
                
                .main-list { padding: 0px 20px;
                    li { padding-bottom: 20px; border-bottom: 3px solid #f0f0f0; padding-top: 20px;
                        h5 { font-family: $fontmain; font-size: 18px; color: #429e47; margin-bottom: 10px;}

                        .parent { @extend .flex; margin-bottom: 10px;
                            .children { width: 50%;
                                p { font-family: $fontmain; font-size: 18px;}
                            }

                            .children:first-of-type { padding-right: 10px;}
                            .children:last-of-type { padding-left: 10px; text-align: right;}
                        }

                        .parent:last-of-type { margin-bottom: 0px;}
                    }

                    li:last-child { border-bottom: 0px;}
                }

                .btm-hldr { margin-bottom: 20px;
                    .parent { @extend .flex; margin-bottom: 10px; background: #515151; padding: 20px;
                        .children { width: 50%;
                            h6 { font-family: $fontmed; font-size: 20px; color: $white}
                        }

                        .children:first-of-type { padding-right: 10px;}
                        .children:last-of-type { padding-left: 10px; text-align: right;}
                    }
                }

                .checkout-btm { text-align: center; margin-top: 40px;
                    a {  padding: 20px 40px; background: #429e47; color: $white; font-family: $fontmed; font-size: 18px; text-transform: uppercase; text-decoration: none; display: inline-block;}
                }

            }
        }
    }
}


input[type="checkbox"] { -webkit-appearance: checkbox;}




.about-us {
    .sec-2 {
        .abt-hldr { max-width: 65%; width: 100%; margin: 0 auto; border-radius: 25px; padding: 25px; box-shadow: 0px 0px 20px #d5d5d5; 
            h3 { font-family: $fonthead; font-size: 40px; margin-bottom: 20px; text-align: center;}
            p { font-family: $fontmain; font-size: 18px; line-height: 28px; margin-bottom: 25px;}
        }
    }
}


.check.schedule {
    .sec-2 {
        .hldr{

            h3 { font-family: $fonthead; font-size: 40px;  text-align: center; margin-bottom: 25px;}

            .table-hldr { max-width: 100%;
                table {
                    thead {
                        tr {
                            th { text-align: center;}
                        }
                    }
                }
            }

            p { font-family: $fontmain; font-size: 18px;}
        }
        
    }
}






.van-hldr {

    .rowlines { position: absolute; width: 100%; padding: 0px 45px 0px 40px; left: 0;}
    .rowlines:first-of-type { top: 165px;}
    .rowlines:nth-of-type(2) { top: 265px;}
    .rowlines:nth-of-type(3) { top: 360px;}
    .rowlines:nth-of-type(4) { top: 459px;}
    .parent.ch3 { @extend .flex;
        .children { width: 33%;}
    }
    .parent.ch4 { @extend .flex;
        .children { width: 25%;}
    }
}


.gal-tab {
    .form-group {
        .img-holder {
            img { width: auto; max-width: 100%; }
        }
    }
}


.tour-package {
    .img-holder { height: 200px; 
        img { height: 100%; object-fit: contain; width: 100%;}
    }
}










